<mat-toolbar class="navigation" color="primary">
  <mat-toolbar-row class="app-name">
    <h1>Estudio compartido</h1>
  </mat-toolbar-row>
  <mat-toolbar-row class="navigation-config navigation-user">
    <i class="material-icons account_circle">account_circle</i>
    <h2>nombre usuario</h2>
  </mat-toolbar-row>
  <mat-toolbar-row class="navigation-config navigation-links">
    <mat-list class="navigation-list" role="list">
      <mat-list-item class="navigation-list-item" role="listitem"><a href="#">Mi horario</a></mat-list-item>
      <mat-list-item class="navigation-list-item" role="listitem"><a href="#">Buscar compañero de estudio</a></mat-list-item>
      <mat-list-item class="navigation-list-item" role="listitem"><a href="#">Horario de estudio compartido</a></mat-list-item>
      <mat-list-item class="navigation-list-item" role="listitem"><a href="#">cerrar sesion</a></mat-list-item>
    </mat-list>
  </mat-toolbar-row>
</mat-toolbar>

<div class="main-container" >
  <router-outlet ></router-outlet>
</div>
